{% extends "./layouts/main.html" %}

{% block style %}<link rel="stylesheet" href="static/index.css">{% endblock %}
{% block js %}<script src="static/index.js"></script>{% endblock %}
{% block content %}
<h1>Poker Buddy</h1>
<p>Select all cards within your hand as well as all community cards</p>
<br>
<img name="Ah" src="static/ace_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Kh"src="static/king_of_hearts2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Qh"src="static/queen_of_hearts2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Jh"src="static/jack_of_hearts2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Th"src="static/10_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="9h"src="static/9_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="8h"src="static/8_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="7h"src="static/7_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="6h"src="static/6_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="5h"src="static/5_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="4h"src="static/4_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="3h"src="static/3_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="2h"src="static/2_of_hearts.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<br>
<img name="Ad" src="static/ace_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Kd"src="static/king_of_diamonds2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Qd"src="static/queen_of_diamonds2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Jd"src="static/jack_of_diamonds2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Td"src="static/10_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="9d"src="static/9_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="8d"src="static/8_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="7d"src="static/7_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="6d"src="static/6_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="5d"src="static/5_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="4d"src="static/4_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="3d"src="static/3_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="2d"src="static/2_of_diamonds.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<br>
<img name="Ac"src="static/ace_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Kc"src="static/king_of_clubs2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Qc"src="static/queen_of_clubs2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Jc"src="static/jack_of_clubs2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Tc"src="static/10_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="9c"src="static/9_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="8c"src="static/8_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="7c"src="static/7_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="6c"src="static/6_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="5c"src="static/5_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="4c"src="static/4_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="3c"src="static/3_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="2c"src="static/2_of_clubs.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<br>
<img name="As"src="static/ace_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Ks"src="static/king_of_spades2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Qs"src="static/queen_of_spades2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Js"src="static/jack_of_spades2.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="Ts"src="static/10_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="9s"src="static/9_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="8s"src="static/8_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="7s"src="static/7_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="6s"src="static/6_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="5s"src="static/5_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="4s"src="static/4_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="3s"src="static/3_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<img name="2s"src="static/2_of_spades.svg" type="image/svg+xml" width="69" height="100" onclick="card_onclick(this)">
<br>
<button type="button" onclick="evaluatehand_onclick()">Evaluate Hand</button>
<br>
<button type="button" onclick="calculateodds_onclick()">Calculate Odds</button>

<div id="result" name="result"></div>
{% endblock %} 